      <!-- FOOTER -->
   <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright Bolt CMS. Themed by Corentin at PixelSwap.</p>
        </div>
      </div>
    </div>
  </footer>

      <!-- End Footer -->


      <script src="{{ paths.theme }}js/vendor/jquery.js"></script>
  <script src="{{ paths.theme }}js/foundation.min.js"></script>
    <script>
  $(document).foundation();
</script>

</body>
</html>
