
    <form  method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain">
        <input style="margin: -3px 0 0 0;" type="search" class="search-query"value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="Search" name="search">
    </form>

